/.vscode
/Data-and-Papers/PastData
/Data-and-Papers/Final Report
/Data-and-Papers/730_1_5.0269525.pdf
/Data-and-Papers/Sullivan, Thompson, Williamson - 2008 - American Journal of Physics.pdf
/__pycache__